.overlay {
  backdrop-filter: blur(20px);
  position: fixed;
  background: #000000a6;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 200;
  transition-property: all;
  transition: .3s;
  display: grid;
  place-items: center;
  /* animation: fade_in 0.2s; */
}

.cancel {
  position: absolute;
  color: #e4e4e4;
  font-size: 2em;
  top: 1em;
  right: 2em;
  cursor: pointer;
}

.options {
  color: #e4e4e4;
  font-family: "Prata", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  gap: 0.7em;
}

.options>span {
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}

.options>span:hover {
  color: #a7a7a7;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1024px) {
  .options {
    font-size: 0.9em;
  }
}