* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
}

.loading_page {
  width: 100%;
  height: 100vh;
  background: #1e201e;
  display: grid;
  place-items: center;
  color: #e4e4e4;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}

.setting {
  width: 100%;
  height: 100vh;
  background: #1e201e;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #e4e4e4;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  gap: 1em;
  padding: 3em;
}

.icon {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
  background: #3f3f3f;
  width: 6em;
  cursor: pointer;
}

.icon div {
  color: #fff;
  font-size: 2em;
}

.icon span {
  font-size: 1em;
}