* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
}

.loading_page {
  width: 100%;
  height: 100vh;
  background: #1e201e;
  display: grid;
  place-items: center;
  color: #e4e4e4;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
}